# This is Git's per-user configuration file.
[user]
	name = s-arjun-git
	email = arjunkmc007@gmail.com
# Please adapt and uncomment the following lines:
#	name = s-arjun-git
#	email = arjunkmc007@gmail.com
